</div class="row">
	<div class="col-xs-4" id="newcomment">
		<h4><%= @message %></h4>
		<!-- Passing params @schoolid so I can redirect after the comment is created in the database -->
		<form method="get" action="/comments/create/<%= @messageid %>/<%= @schoolid%>">
			<textarea rows="10" cols="50" name="comment" class="form-control" placeholder="Enter Comment Here"></textarea><br>
			<button class="btn btn-primary btn-block">Submit</button>
		</form><br>
		<input type="button" class="btn btn-default btn-block" value="Back" onclick="goBack()">
	</div>
	<div class="col-xs-5" id="midfiller">
	</div>
	<div class="col-xs-3" id="rightfiller">
	</div>
</div>