<div class="jumbotron">
	<div class="container">
		<h1 >SchoolME</h1>
		<form method="get" action="/search">
			<select name="search_by">
				<option value ="zip">ZIP</option>
				<!-- <option value ="city">City</option> -->
			</select>
			<input type="text" id="search" name="search">
			<button class="btn btn-primary">Search</button>
		</form>
	</div>
</div>